html {
    background-color: #dbdbdb;
}
.error {
  border: 2px solid red;
}
body {
    font-family: sans-serif;
		background-image:url("iNH9HZTSN.jpg");
}

form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 2rem auto;
    background-color: #A9A9A9;
    padding: 20px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

input, select, textarea {
    margin: 0.75em 0;
}

.btn {
    cursor: pointer;
}

td:hover {
    cursor: pointer;
}

table {
    margin: 0 auto;
    border-radius: 5px;
}
@media screen and (min-width: 426px) {
    #form {
        height: auto;
        margin: 2em auto;
    }
}
